<ion-header>

  <ion-navbar color="colorThree">
    <ion-title align="center">About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class="aboutText">
    Welcome to my first real-world Todo-App
    <br> This is a school project
    <br> Feel free to contact me on my mail,
    <br> or visit my homepage
    <br>
    <br>
  </p>

  <h1 class="linkText">
    <a class="linkColor" href="https://www.iam-developer.com/">Homepage</a>
    <br>
    <br>
  </h1>

  <p class="sendMeMail">Contant Me</p>

  <form novalidate (ngSubmit)="sendEmail(email)" [formGroup]="emailForm">
    <ion-row>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" value="" [(ngModel)]="email.subject" formControlName="subject"></ion-input>
      </ion-item>

      <ion-item class="errorBox" no-lines *ngIf="( emailForm.get('subject').hasError('required') || emailForm.get('subject').hasError('minlength') || emailForm.get('subject').hasError('maxlength') ) && emailForm.get('subject').touched">

        <span class="global__input-error" *ngIf="emailForm.get('subject').hasError('required')">
          * Required</span>
        <span class="global__input-error" *ngIf="emailForm.get('subject').hasError('minlength')">
          * Minimum 5 letters allowed</span>
        <span class="global__input-error" *ngIf="emailForm.get('subject').hasError('maxlength')">
          * Maximum 30 letters allowed</span>
      </ion-item>


      <ion-item>
        <ion-label floating>Content</ion-label>
        <ion-textarea #myInput id="myInput" rows="1" (keyup)="resize()" [(ngModel)]="email.content" formControlName="content"></ion-textarea>
      </ion-item>

      <ion-item class="errorBox" no-lines *ngIf="( emailForm.get('content').hasError('required') || emailForm.get('content').hasError('minlength') || emailForm.get('content').hasError('maxlength') ) && emailForm.get('content').touched">

        <span class="global__input-error" *ngIf="emailForm.get('content').hasError('required')">
          * Required</span>
        <span class="global__input-error" *ngIf="emailForm.get('content').hasError('minlength')">
          * Minimum 5 letters allowed</span>
        <span class="global__input-error" *ngIf="emailForm.get('content').hasError('maxlength')">
          * Maximum 100 letters allowed</span>
      </ion-item>

    </ion-row>

    <ion-row padding-top="20%">
      <button ion-button block color="colorThree" [disabled]="emailForm.invalid">Send email</button>
    </ion-row>
  </form>

</ion-content>
