<ion-header>

  <ion-navbar color="colorThree">
    <ion-title align="center">About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class="aboutText">
  Welcome to my first real-world Todo-App<br>
  This is a school project<br>
  Feel free to contact me on my mail,<br>
  or visit my homepage<br><br>
</p>

  <h1 class="linkText"><a class="linkColor" href="https://www.iam-developer.com/">Homepage</a><br><br></h1>

  <p class="sendMeMail">Contant Me</p>

  <ion-item>
    <ion-label floating>Title</ion-label>
    <ion-input type="text" [(ngModel)]="emailSubject" name="text" #text="ngModel" required pattern="^[a-zA-Z ]{0,50}$">
  </ion-input>
</ion-item>

  <div padding *ngIf="text.dirty && text.invalid">
      <span class="global__input-error">Only letters allowed</span>
    </div>


    <ion-item>
        <ion-label floating>Content</ion-label>
        <ion-textarea #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="emailBody"></ion-textarea>
      </ion-item>

    <div padding *ngIf="emailBody.length === 500">
      <span class="global__input-error">Max size 500</span>
    </div>

    <ion-row padding-top="20%">
        <button ion-button block color="colorThree" (click)="sendEmail()" [disabled]="emailBody.length < 20">Send email</button>
    </ion-row>

</ion-content>
