page-about {
    .aboutText {
        color: #00695c;
        text-align: center;
    }
    .linkText {
        color: #00695c;
        text-align: center;
        font-size: 15px;
    }
    .linkColor {
        color: #00695c;
    }
    .sendMeMail {
        color: #00695c;
        font-size: 15px;
        text-align: center;
    }
    .errorBox {
        background-color: #e5ffff;
    }
}
