<ion-header>

  <ion-navbar color="colorThree">
    <ion-title align="center">Add Todo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form novalidate (ngSubmit)="addTodo(todo)" [formGroup]="todoForm">

    <ion-row>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" value="" [(ngModel)]="todo.title" formControlName="title"></ion-input>
      </ion-item>

      <ion-item class="errorBox" no-lines *ngIf="( todoForm.get('title').hasError('required') || todoForm.get('title').hasError('minlength') || todoForm.get('title').hasError('maxlength') ) && todoForm.get('title').touched">

        <span class="global__input-error" *ngIf="todoForm.get('title').hasError('required')">
          * Required</span>
        <span class="global__input-error" *ngIf="todoForm.get('title').hasError('minlength')">
          * Minimum 5 letters allowed</span>
        <span class="global__input-error" *ngIf="todoForm.get('title').hasError('maxlength')">
          * Maximum 30 letters allowed</span>
      </ion-item>


      <ion-item>
        <ion-label floating>Content</ion-label>
        <ion-textarea #myInput id="myInput" rows="1" (keyup)="resize()" [(ngModel)]="todo.content" formControlName="content"></ion-textarea>
      </ion-item>

      <ion-item class="errorBox" no-lines *ngIf="( todoForm.get('content').hasError('required') || todoForm.get('content').hasError('minlength') || todoForm.get('content').hasError('maxlength') ) && todoForm.get('content').touched">

        <span class="global__input-error" *ngIf="todoForm.get('content').hasError('required')">
          * Required</span>
        <span class="global__input-error" *ngIf="todoForm.get('content').hasError('minlength')">
          * Minimum 5 letters allowed</span>
        <span class="global__input-error" *ngIf="todoForm.get('content').hasError('maxlength')">
          * Maximum 100 letters allowed</span>
      </ion-item>

    </ion-row>

    <ion-row padding-top="20%">
      <button ion-button block color="colorThree" [disabled]="todoForm.invalid">Add Todo</button>
    </ion-row>
  </form>

</ion-content>
