page-register-user {
    .verifyText {
        color: #00695c;
        text-align: center;
    }
    .errorBox {
        background-color: #e5ffff;
    }

    .requiredText {
      color: #00695c;
    }
}
