<ion-header>

  <ion-navbar color="colorThree">
    <ion-title align="center">Register</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <form novalidate (ngSubmit)="registerUser(user)" [formGroup]="userForm">
    <ion-row>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" value="" [(ngModel)]="user.email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="errorBox" no-lines *ngIf="( userForm.get('email').hasError('required') || userForm.get('email').hasError('email') ) && userForm.get('email').touched">

        <span class="global__input-error" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
          * Required</span>

        <span class="global__input-error" *ngIf="userForm.get('email').hasError('email') && userForm.get('email').touched">
          Enter valid email
        </span>

      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" value="" [(ngModel)]="user.password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item class="errorBox" no-lines *ngIf="( userForm.get('password').hasError('required') ) && userForm.get('password').touched">

        <span class="global__input-error" *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched">
          Password is required
        </span>

      </ion-item>


      <ion-item>
        <ion-label floating>Retype password</ion-label>
        <ion-input type="password" value="" formControlName="re_password"></ion-input>
      </ion-item>

      <ion-item class="errorBox" no-lines *ngIf="( userForm.get('re_password').hasError('equalTo') || userForm.get('re_password').hasError('required') ) && userForm.get('re_password').touched">

        <span class="global__input-error" *ngIf="userForm.get('re_password').hasError('required') && userForm.get('re_password').touched">
          Confirm password is required
        </span>
        <div class="global__input-error" *ngIf="userForm.get('re_password').hasError('equalTo') && userForm.get('re_password').touched">
          Password Mismatch
        </div>
      </ion-item>
    </ion-row>


    <ion-row padding-top="30%">
      <button ion-button block color="colorThree" [disabled]="userForm.invalid">Register</button>
    </ion-row>
  </form>

  <p class="verifyText">When your have registered your account, we will send you a verification mail
    <br>Verify your email before you login</p>
</ion-content>
