page-welcome {
    img {
        width: 60%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .btnColor {
        color: #00695c;
        font-size: 13px;
        left: 175%;
    }
    .aboutBtnRow {
        position: absolute;
        bottom: 10px;
    }
    .resetBtn {
        color: #00695c;
        font-size: 10px;
        left: 90%;
    }
    .resetBtnRow {
        position: absolute;
        bottom: 150px;
    }
}
